<a href="<%= "software/" + name %>">
  <div class="<%= "software " + name %>">
    <img src="resources/icons/utorrent-43r06R.png" alt="<%= title %>" width="120px">
    <h3><%= title %></h3>
    <p><%= synopsis %></p>
    <p>
      Licence : <%= info.license %> &emsp;
      Téléchargé : <%= info.downloads %> fois &emsp;
      OS : <%= info.os %>
    </p>
  </div>
</a>