<!DOCTYPE html>
<html lang="fr">

<%- include("components/head", { page_title: "Perioeci Market" }); -%>

<body>
  <div class="website">
    <div class="header">
      <%- include("components/top"); -%>
      <%- include("components/os-bar"); -%>
      <%- include("components/theme-bar"); -%>
      <script src="script/index_responsive.js"></script>
    </div>
    <div class="core index">
      <div class="left-panel">
        <%- include("components/left-panel/classement"); -%>
        <%- include("components/left-panel/suggestions"); -%>
      </div>
      <div class="content">
        <h1 class="title">LE TOP DES APPLICATIONS</h1>
        <%- include("components/software-link", {
              name: "utorrent",
              title: "µTorrent",
              synopsis: "Partagez et téléchargez des fichiers via le protocole BitTorrent",
              info: {
                license: "Gratuit",
                downloads: "6921",
                os: "Windows 7/8/8.1/10"
              }
            }); -%> 
        <!--
        <a href="page_logiciel_zoom.html">
          <div class="software zoom">
            <img src="resources/icons/zoom.png" alt="zoom" width="120px">
            <h3>Zoom v.5.0</h3>
            <p>Une solution complète de vidéoconférence</p>
            <p>Licence : Gratuit Téléchargé : 7500 fois OS : Windows 7/8/10</p>
          </div>
        </a>
        <a href="page_logiciel_atom.html">
          <div class="software atom">
            <img src="resources/icons/atomlogo.png" alt="atom" width="120px">
            <h3>Atom</h3>
            <p>Un éditeur de texte collaboratif</p>
            <p>Licence : Gratuit &emsp; Téléchargé : 6891 fois &emsp; OS : Windows 7/8/8.1/10</p>
          </div>
        </a>
        <a href="page_logiciel_chrome.html">
          <div class="software chrome">
            <img src="resources/icons/chromelogo.png" alt="chrome" width="120px">
            <h3>Google Chrome</h3>
            <p>Un navigateur plus simple, plus sécurisé et encore plus rapide.</p>
            <p>Licence : Gratuit &emsp; Téléchargé : 16674 fois &emsp; OS : Windows 7/8/8.1/10</p>
          </div>
        </a>
        -->
      </div>
      <div class="right-panel">
        <%- include("components/right-panel/news-link", {
              link: "extensions-malveillantes-sur-chrome",
              thumbnail: "resources/icons/chromenews1.jpg",
              title: "Extensions malveillantes sur Chrome"
            }); -%>
      </div>
    </div>
    <%- include("components/footer"); -%>
  </div>
</body>

</html>