<!DOCTYPE html>
<html lang="fr">

<%- include("components/head", { page_title: "Perioeci Market" }); -%>

<body>
  <div class="website">
    <%- include("components/header/index"); -%> 
    <div class="core index">
      <div class="left-panel">
        <%- include("components/left-panel/classement"); -%>
        <%- include("components/left-panel/suggestions"); -%>
      </div>
      <div class="content">
        <h1 class="title">LE TOP DES APPLICATIONS</h1>
        <%- include("components/software-link", {
              name: "utorrent",
              title: "µTorrent",
              icon: "resources/icons/utorrent-43r06R.png",
              synopsis: "Partagez et téléchargez des fichiers via le protocole BitTorrent",
              info: {
                license: "Gratuit",
                downloads: "6921",
                os: "Windows 7/8/8.1/10"
              }
            }); -%>
        <%- include("components/software-link", {
              name: "zoom",
              title: "Zoom",
              icon: "resources/icons/zoom.png",
              synopsis: "Une solution complète de vidéoconférence",
              info: {
                license: "Gratuit",
                downloads: "7500",
                os: "Windows 7/8/10"
              }
            }); -%>
        <%- include("components/software-link", {
              name: "atom",
              title: "Atom",
              icon: "resources/icons/atomlogo.png",
              synopsis: "Un éditeur de texte collaboratif",
              info: {
                license: "Gratuit",
                downloads: "6891",
                os: "Windows 7/8/10"
              }
            }); -%>
        <%- include("components/software-link", {
              name: "chrome",
              title: "Google Chrome",
              icon: "resources/icons/chromelogo.png",
              synopsis: "Un navigateur plus simple, plus sécurisé et encore plus rapide.",
              info: {
                license: "Gratuit",
                downloads: "16674",
                os: "Windows 7/8/8.1/10"
              }
            }); -%>
      </div>
      <div class="right-panel">
        <%- include("components/right-panel/news-link", {
              link: "extensions-malveillantes-sur-chrome",
              thumbnail: "resources/icons/chromenews1.jpg",
              title: "Extensions malveillantes sur Chrome"
            }); -%>
      </div>
    </div>
    <%- include("components/footer"); -%>
  </div>
</body>

</html>