<a href="<%= "/software/" + name %>">
  <figure class="<%= "software " + name %>">
    <img src="<%= icon %>" alt="<%= title %>" width="120px">
    <h3><%= title %></h3>
    <p><%= synopsis %></p>
    <p>
      Licence : <%= info.license %> &emsp;
      Téléchargé : <%= info.downloads %> fois &emsp;
      Créateur : <%= info.author %>
    </p>
  </figure>
</a>