<div class="core index">
  <div class="left-panel">
    <article>
      <div class="classement">
        <div class="title">
          <img src="../resources/icons/Ranking.png" alt="" width="30px">
          <h3>Les plus téléchargés</h3>
        </div>
        <ol>
          <li><a href="">Google Chrome</a></li>
          <li><a href="">µTorrent</a></li>
          <li><a href="">Zoom</a></li>
          <li><a href="">Atom</a></li>
        </ol>
      </div>
    </article>
    <article>
      <div class="suggestions">
        <div class="title">
          <i class="fas fa-question-circle" style="font-size: 20px;"></i>
          <h3>Titre des suggestions</h3>
        </div>
        <ul>
          <li><a href="">Zoom</a></li>
          <li><a href="">Google chrome</a></li>
          <li><a href="">µTorrent</a></li>
          <li><a href="">Atom</a></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="content">
    <h1 class="title">LE TOP DES APPLICATIONS</h1>
    <a href=<%= software_link %> >
      <div class="software torrent">
        <img src=<%= software_icon %>  alt=<%- title_logiciel %> width="120px">
        <h3>
          <%= software_details %> 
        </h3>
        <p>
          <%= software_thumbnails %> 
        </p>
        <p>Licence : Gratuit &emsp; Téléchargé : 9945 fois &emsp; OS : Windows 7/8/8.1/10</p>
      </div>
    </a>
  </div>
  <div class="right-panel">
    <article>
      <a href="news1.html">
        <div class="news">
          <img src="../resources/icons/chromenews1.jpg" width="170px" height="120px" alt="">
          <h4><i class="far fa-newspaper" style="font-size: 20px;"></i> &nbsp; Extensions malveillantes sur Chrome</h4>
        </div>
      </a>
    </article>
  </div>
</div>