<main class="content software-presentation">
  <h1>Télécharger <%= title %></h1>
  <figure class="software-icon">
    <img src="<%= icon %>" alt="<%= title %>" width="130px">
  </figure>
  <figure class="software-download">
    <figure class="software-download button">
      <i class="fas fa-download"></i>
      <p>Télécharger</p>
    </figure>
  </figure>
  <section class="software-info">
    <article class="software-info text">
      <p>
        <b>Développé par</b> : <%= info.author %>
        <br><b>Langues</b> : <%= info.languages %> 
        <br><b>Dernières vers.</b> :
        <% for (const [os, version] of Object.entries(info.lastVersion)) { %>
          <br>&nbsp;─ <%= version %> (<%= os %>)
        <% } %>
        <br><b>Téléchargements</b> : 6921
      </p>
    </article>
  </section>
  <section class="software-screen">
    <div class="software-screen-btn-left">
      <i class="fas fa-arrow-alt-circle-left" style="font-size: 30px;"></i>
    </div>
    <div class="software-screen-shots">
      <% let active = true;
      for (const k in screenshots) { %>
        <img class="shot<%= active ? " active" : "" %>"
             src="<%= screenshots[k] %>"
             width="300px"
             alt="Screenshot n°<%= k %>">
      <% active = false;
      } %> 
    </div>
    <div class="software-screen-btn-right">
      <i class="fas fa-arrow-alt-circle-right" style="font-size: 30px;"></i>
    </div>
    <figure class="software-screen-overview">
      <% active = true;
      for (const k in screenshots) { %>
        <img class="<%= active ? "active" : "" %>"
             src="<%= screenshots[k] %>"
             width="90px"
             alt="Screenshot n°<%= k %>">
      <% active = false;
      } %>
    </figure>
    <script src="script/slider.js"></script>
  </section>
  <section class="paragraphs">
    <%= description %> 
  </section>
  <%- include("../software-rating"); -%>
  <%- include("../comments"); -%>
</main>